<div class="container">
    <h1>PEDIDOS</h1>

   
    <div style="text-align: center;background-color: white;padding: 20px;" > 
        <div class="texto">Aqui puedes solicitar recogidas de material, solicitud de trabajos o solicitud de información</div>
        <mat-form-field  class="todo">
            <input matInput [(ngModel)]="nombre" type="text" placeholder="Nombre*">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field class="todo">
            <input matInput [(ngModel)]="telefono" type="phone" placeholder="Teléfono*">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
          <mat-form-field class="todo">
            <input matInput [(ngModel)]="email" type="email" placeholder="Correo electrónico*">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field  class="todo" >
            <textarea matInput [(ngModel)]="pedido" placeholder="Pedido*" ></textarea>
            <mat-icon matSuffix>build</mat-icon>
          </mat-form-field>
          <br>
          <button mat-button (click)="grabaPedido()">GRABAR</button>
        
    </div>
</div>
