body{
    color: #0E6497;
   
}
li{
    display: inline-block;
     margin-left: 10px;
     margin-right: 10px;
}
ul{
    text-align: center;
}
button,a{
    color:#0E6497;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:18px; 
    line-height:18px; 
    vertical-align: middle;

   
}
button{
    color:#0E6497;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:18px; 
    line-height:18px; 
    vertical-align: auto;
}

#content{
    background-color: #EAB549; 
}
header{
    background-color: white; 
    width: 100%;
    color: #0E6497;
}
header div img{

    vertical-align: text-bottom;
}

button div{
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}
#content div{

    text-align: center;
}
footer{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
   
    height: 320px;
}
footer div{
    display: inline-block;
    margin: 20px;  
    vertical-align: middle;             ;
}

header div{
    display: inline-block;
}
h1{
    color: #0E6497;
    vertical-align: middle;
    line-height :initial;
}