body{
    color: #0E6497;
   
}
p{
    color:#0E6497;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:30px; 
    
    line-height:30px; 
    vertical-align: middle;
    text-align: center;
}
li{
    display: inline-block;
     margin-left: 10px;
     margin-right: 10px;
}
ul{
    text-align: center;
}
img {

    display: inline;
    
    margin: 5px;
    
    border: 1px solid negro;
    
    }
button,a{
    color:#0E6497;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:18px; 
    line-height:18px; 
    vertical-align: middle;

   
}

#content{
    background-color: #EAB549; 
}
header{
    background-color: white; 
    width: 100%;
    color: #0E6497;
}
header div img{

    vertical-align: text-bottom;
}

button div{
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}
#content div{

    text-align: center;
}
footer{
    background-color: #EAB549;
    margin-top: 20px;
    padding: 20px;
    vertical-align: middle;
}
footer div{
    display: inline-block;
    
    height: 250px;
    margin: 20px;               ;
}

header div{
    display: inline-block;
}
h1{
    color: white;
    margin: 20px;
    text-align: center; 
    font-size: 50px;
}